<ul class="nav pull-right root_links">
  <% actions(:root).each do |action| %>
    <li class="<%= action.action_name %>_root_link">
      <%= link_to wording_for(:menu, action), { action: action.action_name, controller: 'rails_admin/main' }, class: "pjax" %>
    </li>
    <li>
      <%= link_to('Calendar', "/calendar") %>
    </li>
  <% end %>
  <% if _current_user %>
    <% if user_link = edit_user_link %>
      <li>
        <%= user_link %>
      </li>
    <% end %>
  <% end %>
  <% if logout_path.present? %>
    <li>
      <%= link_to content_tag('span', t('admin.misc.log_out'), class: 'label label-important'), logout_path, method: Devise.sign_out_via %>
    </li>
  <% end %>
</ul>
