<h1>Your Pragmatic Catalog</h1>
<script type="text/javascript">
    $(document).ready(function(){
    $('#fade').cycle();
    });
  </script>
    <div id="fade">
      <img src="/images/b1.jpg" class="theme"/>
      <img src="/images/b2.jpg" class="theme"/>
      <img src="/images/b3.jpg" class="theme"/>
      <img src="/images/b4.jpg" class="theme"/>
      <img src="/images/b5.jpg" class="theme"/>
      <img src="/images/b6.jpg" class="theme"/>
      <img src="/images/b7.jpg" class="theme"/>
      <img src="/images/b8.jpg" class="theme"/>
    </div>

<% @products.each do |product| %>
	<div class="entry">
		<%= image_tag(product.image_url) %>
		<h3><%= product.title %></h3>
		<%= sanitize(product.description) %>
		<div class="price_line">
			<span class="price"><%= number_to_currency(product.price) %></span>
			<% if user_signed_in? %>
				<%= button_to 'Add to Cart', line_items_path(product_id: product) , remote:true %>
			<% end %>
		</div>
	</div>
<% end %>