.contain-to-grid.sticky{"data-options" => "sticky_on: large"}
  %nav.top-bar{"data-topbar" => ""}
    %ul.title-area
      %li#top-bar-title
        = link_to "Comiccon.com", root_path
    %section.top-bar-section
      %ul.right
        - if user_signed_in?
          %li= link_to "Cart", carts_path
          %li= link_to "Orders", orders_path
          - if current_user.admin?
            %li= link_to "Admin", rails_admin_path
          %li.has-dropdown
            = link_to current_user.full_name, '#', id: "user-name"
            %ul.dropdown
              %li= link_to 'Edit profile', edit_user_registration_path
              %li= link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Sign in", new_user_session_path
          %li= link_to "Sign up", new_user_registration_path

.panel#search-bar
  .row
    = form_tag search_books_path, method: :get do
      .row.collapse.right
        .small-4.columns
          = select_tag :category, options_for_select(@categories)
        .small-5.columns
          = text_field_tag :query, params[:query], placeholder: "Title/Author name"
        .small-3.columns
          = submit_tag "Search", class: "button postfix"