<%= link_to "Home", store_index_path, :class => 'brand', "data-no-turbolink" => true %>
<ul class="nav">
  <% if user_signed_in? %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
      </li>
  <% else %>
      <li>
        <%= link_to('Login', new_user_session_path)  %>
      </li>
  <% end %>
  <% if user_signed_in? %>
      <li>
        <%= link_to('Edit Profile', edit_user_registration_path) %>
      </li>
  <% else %>
      <li>
        <%= link_to('Sign Up', new_user_registration_path)  %>
      </li>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to current_user.email, products_path, class: "btn btn-primary pull-right"%>
    <%= link_to image_tag('12.png', size: "38x38") %> &nbsp;&nbsp;&nbsp;&nbsp;
  <% end %>
</ul>